@mixin font($f-name, $f-style, $f-weight, $f-url, $f-url2)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff')
		src: url($f-url2) format('woff2')


@include font('Raleway', normal, 400, '../fonts/Raleway/RalewayRegular.woff', '../fonts/Raleway/RalewayRegular.woff2')
@include font('Raleway', italic, 400, '../fonts/Raleway/RalewayRegularItalic.woff', '../fonts/Raleway/RalewayRegularItalic.woff2')
@include font('Raleway', normal, 700, '../fonts/Raleway/RalewayBold.woff', '../fonts/Raleway/RalewayBold.woff2')
@include font('Raleway', italic, 700, '../fonts/Raleway/RalewayBoldItalic.woff', '../fonts/Raleway/RalewayBoldItalic.woff2')
