@import vars
@import fonts
@import libs

::placeholder
	color: $grey-darken

::selection
	background-color: $accent
	color: #fff

html, body
	height: 100%

body
	font-family: Raleway, sans-serif
	margin: 0
	min-width: 320px
	overflow-x: hidden
	font-size: 16px
	line-height: 1.6
	color: $dark

*, ::before, ::after
	box-sizing: border-box

a
	color: $blue
	&:hover
		text-decoration: none

.title
	text-align: center
	font-weight: 700
	font-size: 2em
	line-height: 1.25
	margin-bottom: .5em

.wrapper
	display: flex
	flex-wrap: wrap
	min-height: 100%
	background-color: #ecf0f1

.wrapper__section
	width: 100%
	padding: 2em 1em

.wrapper__section_v-alignment-top
	align-self: flex-start

.wrapper__section_v-alignment-middle
	padding:
		top: 2em
		bottom: 2em
	align-self: center

.wrapper__section_v-alignment-bottom
	align-self: flex-end

.menu
	padding: 0
	margin: 0 -.5em
	list-style: none

.menu__item
	display: inline-block
	margin: 0 .5em

.menu__link
	color: $dark
	font-weight: 700

.menu__link_active
	color: $accent

.header-main, .footer-main
	padding: 
		top: 1em
		bottom: 1em

.footer-main__copyright
	margin: 0
	text-align: center
	color: $grey-darken
	font-size: .875em

.form
	background-color: #fff
	border-radius: .5em
	padding: 3em 2em
	box-shadow: 0 1em 1em 0 rgba($dark, .1)
	max-width: 26em

.form_center
	margin:
		left: auto
		right: auto

.input
	outline: none
	border-radius: .5em
	border: 2px solid $grey
	padding: 
		left: 1.2em
		right: 1.2em
	height: 3em
	width: 100%
	font: inherit
	color: inherit
	margin-bottom: .8em
	box-shadow: none
	appearance: none
	&:focus
		border-color: $grey-darken

.btn
	outline: none
	border: none
	font: inherit
	color: #fff
	background-color: $accent
	font-weight: 700
	border-radius: .5em
	width: 100%
	padding: .7em 1em
	cursor: pointer
	margin: 1rem 0
	&:hover, &:focus
		background-color: darken($accent, 5%)
	&:active
		background-color: lighten($accent, 5%)

.label-checkbox
	position: relative
	padding-left: 2rem
	margin-bottom: .5rem
	cursor: pointer
	.checkbox
		position: absolute
		left: 0
		top: -.125rem
	&:hover
		.checkbox
			&::before
				border-color: $grey-darken

.checkbox
	display: inline-block
	vertical-align: middle
	position: relative
	border-radius: .5em
	width: 1.5em
	height: 1.5em
	&::before
		content: ""
		position: absolute
		left: 0
		right: 0
		width: 100%
		height: 100%
		border-radius: .5em
		border: 2px solid $grey
	input
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		opacity: 0
		cursor: pointer
		margin: 0
		z-index: 9
		&:checked + .checkbox__check
			opacity: 1
	&:hover
		&::before
			border-color: $grey-darken

.checkbox__check
	position: absolute
	left: 0
	right: 0
	bottom: 0
	top: 0
	margin: auto
	width: 40%
	height: 40%
	opacity: 0
	&::before, &::after
		content: ""
		position: absolute
		height: 2px
		width: 60%
		background-color: $accent
		top: 0
		bottom: 0
		left: -55%
		right: 0
		margin: auto
		transform: rotate(45deg)
	&::before
		transform: rotate(-45deg)
		width: 100%
		right: -120%

@import media
